<!-- views/partials/footer.ejs -->
    <div class="footer-info bg-dark text-white fixed-bottom container-fluid">
        <div class="container-fluid">
            <p class="text-center align-middle"> By Edward Jiménez - 2018 | Github <a class="btn-outline-danger" href="https://github.com/edlobox/Voting-App"> Repository </a></p>
        </div>
    </div>
