<!DOCTYPE html>
<html>
	<head>
		 <% include ./partials/head %>
	</head>

	<header>
		<% include ./partials/header %>
	</header>
<!----------------------------------------------------------------------------->
<body>
	<div class="container">
		<P>Below are all the polls, select a poll to see the results and you can vote too.</p>
		<P> If you want create a poll, you need be logged in.</p>
		<div class="table-responsive">
  		<table class="table table-striped table-bordered">
				<thead>
				<tr>
				    <td class="text-center"><h4>CHOOSE A POLL</h4></td>
						<% if (showButton !== 0) {%>
						 <td class="text-center"><h4>OPTION</h4></td>
						<% } %>
						</tr>
				</thead>
				<% for(var i=0;i<pollList.length;i++){ %>
				<tr>
					<td class="text-center"><a href=<%= '/polls/'+pollList[i].id %>>
								<h3><%=pollList[i].title%></h3>
							</a></td>
					<% if (showButton !== 0) {%>
						<td class="text-center">
							<a class="btn btn-raised btn-danger" href=<%= '/polls/delete/'+pollList[i].id %>>Delete</a></td>
						</td>
					<% } %>
				</tr>
					<% } %>
			</table>
		</div>
	</div>
    <% include ./partials/body-partial %>
</body>
<footer>
    <% include ./partials/footer %>
</footer>
</html>
