<!DOCTYPE html>
<html>
	<head>
		<% include ./partials/head %>
		<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
	</head>
	<body id="page-top">
		<!-- Navigation -->
		<% include ./partials/header %>
		<!-- End Navigation -->
		<section id="makingPoll">
      <div class="container">
        <div class="row">
					<div class="col-lg-12 mx-auto">
						<div class="container align-items-center justify-content-center">
		          <div class="card bg-light box-shadow--6dp">
								<div class="card-body">
									<form class="form-horizontal" role="form" method="POST" action="/newPoll">
						      <div class="row">
							      <div class="col-md-12">
						          <h2 class="text-center">Create a new Poll</h2>
						          <hr>
						        </div>
						      </div><!-- close row -->
						      <div class="row">
						        <div class="col-md-3 field-label-responsive">
						          <label for="name">Title</label>
						        </div>
						        <div class="col-md-8">
						          <div class="form-group">
						            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
						              <input type="text" name="title" class="form-control" id="title" placeholder="what is your favorite color?" required autofocus>
						            </div>
						          </div>
						        </div>
						      </div><!-- close row -->
						      <div class="row">
						        <div class="col-md-3 field-label-responsive">
						          <label for="email">Options (seperated by comma)</label>
						        </div>
						        <div class="col-md-8">
						          <div class="form-group">
						            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
						              <textarea class="form-control" name="options" id="options" rows="5" placeholder="Red, Blue, Yellow, etc" required autofocus></textarea>
						            </div>
						          </div>
						        </div>
						      </div><!-- close row -->
						      <div class="row">
						        <div class="col-md-3"></div>
						        <div class="col-md-6">
						          <button type="submit" class="btn btn-success">Create!</button>
						        </div>
						      </div>
									</div>
						    </form>
		          </div>
						</div>
					</div>
        </div>
      </div>
    </section>
		<% include ./partials/body-partial %>
		<!-- Footer -->
		<footer>
			<% include ./partials/footer %>
		</footer>
		<!-- End Footer -->
		</body>
	</html>
